body,
ul,
li,
h1,
h2,
a {
    margin: 0;
    padding: 0;
    font-family: tahoma;
}

header {
    background-color: #f63232;
    padding: 20px 0px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header h1 {
    color: white;
    border: 8px solid white;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 36px;
}

.banner {
    position: relative;
}

.banner img {
    max-width: 100%;
}

.banner .welcome {
    background-color: #FEB614;
    color: white;
    padding: 30px;
    font-size: 60px;
    position: absolute;
    left: 0;
    top: 30%;
}

.banner .welcome span {
    font-size: 1.4em;
}

nav {
    background-color: #F4F4F4;
    padding: 20px;
    position: sticky;
    top: 106px;
    z-index: 1;
}

nav ul {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    white-space: nowrap;
}

nav li {
    width: 25%;
    display: inline-block;
    font-size: 24px;
}

nav li a {
    text-decoration: none;
    color: #4B4B4B;
}

nav li a:hover {
    text-decoration: underline;
}

nav li a.join {
    color: #f63232;
}

main {
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}

article h2 {
    color: #f63232;
    font-size: 48px;
}

article p {
    line-height: 2em;
    color: #4B4B4B;
}

article p::first-line {
    font-weight: bold;
    font-size: 1.2em;
}

.images {
    white-space: nowrap;
    text-align: center;
    margin: 80px 0;
}

.images li {
    list-style-type: none;
    width: 40%;
    margin: 20px 5%;
    display: inline-block;
    position: relative;
}

.images li img {
    max-width: 100%;
}

.images li:hover {
    top: -4px;
    cursor: pointer;
}

section.join {
    background: #F4F4F4;
    text-align: center;
    padding: 60px 20px;
    color: #4b4b4b;
}

.join h2 {
    font-size: 32px;
}

form input {
    margin: 20px 0px;
    padding: 10px 20px;
    font-size: 24px;
    border: 4px solid white;
    border-radius: 28px;
}

footer {
    background: #f63232;
    color: white;
    padding: 10px;
    text-align: center;
}

form input:focus {
    border: 4px dashed #4b4b4b ;
    outline: none;
}

form input:valid {
    border: 4px solid #71D300;
}

/* form input:invalid {
    border: 4px solid #f63232;
} */

section.join p::first-letter {
    font-size: 1.5em;
}

p::selection {
    background-color: #f63232;
    color: white;
}

p::after {
    content: '....';
}

/* responsive style */

@media screen and (max-width: 1400px){
    .banner .welcome h2 {
        font-size: 60px;
    }

    nav li {
        font-size: 18px;
    }
}

@media screen and (max-width: 960px){
    .banner .welcome h2 {
        font-size: 40px;
    }
}

@media screen and (max-width: 700px){
    .banner .welcome {
        position: relative;
        padding: 10px;
        text-align: center;
    }

    .banner .welcome br {
        display: none;
    }

    .banner .welcome span {
        font-size: 1em;
    }

    .images li {
        display: block;
        width: 100%;
        margin: 20px auto;
    }
}